 {volist name='lists' id='list'}
                <tr>
                    <td>
                        <input name="" type="checkbox" value="" />
                    </td>
                    <td>{$list['order_id']}</td>
                    <td>{$list['username']}</td>
                    <td>{$list['receiver']}/{$list['address']}</td>
                    <td>{$list['tel']}/{$list['zcode']}</td>
                    <td>￥{$list['total_price']}</td>
                    <td>{:config('pay_status')[$list['pay_status']]}</td>
                    <td>{:config('send_status')[$list['send_status']]}</td>
                    <td>
                        <a href="javascript:;"  class="showContent tablelink">查看商品详情</a> 
                        <a href="javascript:;"  class="delAttr tablelink">加入回收站</a>
                    </td>
                </tr>
{/volist}